.container {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 200px auto;
  grid-template-rows: 64px auto;
  margin: 10px auto;
  max-width: 1140px;
  height: calc(100vh - 100px);
}

.headerWrap {
  align-items: center;
  border-radius: 5px;
  display: flex;
  grid-column-end: 3;
  grid-column-start: 1;
  justify-content: space-between;
}
.sidebarWrap {
  grid-row-start: 2;
}
.main {
  grid-column-start: 2;
  min-height: calc(100vh - 180px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--main-shadow-200);

}
.light {
  background-color: var(--light-sidebar-bg-100);
  border: 1px solid var(--light-sidebar-bg-100);

}
.dark {
  background-color: var(--dark-sidebar-bg-100);
  border: 1px solid var(--dark-sidebar-bg-100);

}
