*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Учет границ и отступов внутри размеров */
  font-family: Source Sans Pro, sans-serif;
}
a,
button {
  border: none;
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: inherit;
}


:root {
  /* Accent Colors */
  --accent-100: #73a5ff;
  --accent-300: #4c8dff;
  --accent-500: #397df6;
  --accent-700: #2f68cc;
  --accent-900: #234e99;
  /* Success Colors */
  --success-100: #80ffbf;
  --success-300: #22e584;
  --success-500: #14cc70;
  --success-700: #0f9954;
  --success-900: #0a6638;
  /* Danger Colors */
  --danger-100: #ff8099;
  --danger-300: #f23d61;
  --danger-500: #cc1439;
  --danger-700: #990f2b;
  --danger-900: #660a1d;
  /* Warning Colors */
  --warning-100: #ffd073;
  --warning-300: #e5ac39;
  --warning-500: #d99000;
  --warning-700: #996600;
  --warning-900: #664400;
  /* Dark Colors */
  --dark-100: #4c4c4c;
  --dark-300: #333333;
  --dark-500: #171717;
  --dark-700: #0d0d0d;
  --dark-900: #000000;
  /* Light Colors */
  --light-100: #ffffff;
  --light-300: #f7fbff;
  --light-500: #edf3fa;
  --light-700: #d5dae0;
  --light-900: #8d9094;
  --font-family-main: Consolas, "Times New Roman", serif;
  --font-size-m: 16px;
  --line-height-m: 24px;
  --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);
  --font-size-l: 24px;
  --line-height-l: 32px;
  --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);
  --navbar-height: 70px;
  --sidebar-width: 200px;
  --sidebar-width-collapsed: 80px;
  --modal-z-index:10;
  --red-light: var(--danger-500);
  --red-dark: var(--danger-900);
  --disable-btn: var(--dark-100) ;

  /*NEW*/
  --font-color-100: #fff;
  --main-color-100: #ddf2fd;
  --main-color-300: #427d9d;
  --main-color-400: #164863;
  --main-color-500: #04364a;
  --main-shadow-100: 1px 1px 2px 0 rgba(0, 0, 0, .3);
  --main-shadow-200: 1px 1px 10px 0 rgba(0, 0, 0, .5)
}

.app_dark_theme {
  --bg-color: var(--accent-700);
  --inverted-bg-color: var(--light-500);
  --primary-color: var(--light-100);
  --secondary-color: var(--dark-300);
  --inverted-primary-color: var(--accent-700);
  --inverted-secondary-color: var(--accent-100);
  --inverted-sidebar-bg-color: var(--dark-100);
}

.app_light_theme {


  --bg-color: var(--light-500);
  --inverted-bg-color: var(--accent-700);
  --primary-color: var(--accent-700);
  --secondary-color: var(--accent-100);
  --inverted-primary-color: var(--light-100);
  --inverted-secondary-color: var(--dark-300);
  --inverted-sidebar-bg-color: var(--danger-100);
}

.content {

}

